.title {
  padding-bottom: 30px;  
}
.button {
  min-width: 120px;
  margin: 0 15px;
}  
.navbar-item {
  text-transform: uppercase;
  font-weight: bold;
}
.navbar-item .icon {
  color: yellow;
  font-weight: bold;
  padding-left: 15px;
}


/*animations*/
.fade-in-slide-in-from-left {
  animation: .5s ease-out 0s 1 fadeInSlideInFromLeft;
}

.fade-in-slide-in-from-top {
  animation: .8s ease-out 0s 1 fadeInSlideInFromTop;
}
.fade-in-slide-in-from-bottom {
  animation: 1.1s ease-out 0s 1 fadeInSlideInFromBottom;
}

@keyframes fadeInSlideInFromLeft {
  0% {
    transform: translateX(-10%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeInSlideInFromTop {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  50% {
    transform: translateY(-100%);
    opacity: 0;
  }  
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeInSlideInFromBottom {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  60% {
    transform: translateY(80%);
    opacity: 0;
  }  
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
